.login{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 330px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #ebeef5;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    color: #303133;
    text-align: center;
}
.login h2{
    font-size:1.5em;
    display: block;
    -webkit-margin-before: 1.83em;
    -webkit-margin-after: 1.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.form-input{
    width: 200px;
}
.form-img{
    cursor: pointer;
}