<#macro layout css=[""] js=[""]>
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <link rel="stylesheet" href="css/main.css">
        <#list css as x>
            <link rel="stylesheet" href="${x}">
        </#list>
    </head>
    <body>
                <#-- 在这里嵌入main content -->
                    <#nested>
    </body>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <#list js as s>
        <script src="${s}"></script>
    </#list>
    </html>
</#macro>