
<#import "defaultLayout.html" as defaultLayout >
	<@defaultLayout.layout css=["css/style.css"] >
	<!-- header start -->
	<div class="w-header">
		<div class="w-content clearfix">
			<div class="fl w-logo">
				<a href="login.html" title="" target="" class="fl">
					<img src="images/logo.png" height="137" alt="logo"/>
				</a>
				<span class="w-logo-img fl">
					<img src="images/logo-img.png"/>
				</span>
			</div>
			<div class="w-header-right">
				<div class="w-header-top tr">
					<a href="怀旧版.html">怀旧版</a>
			        <i class="w-header-line"></i>
					你好，请<a href="登录.html">登录</a>
					<i class="w-header-line"></i>
			        <a href="免费注册.html">免费注册</a>
			        <i class="w-header-line"></i>
			        <a href="联系我们.html">联系我们<i class="bg w-header-jt"></i></a>
			        <i class="w-header-line"></i>
			        <a href="客服热线.html">客服热线<i class="bg w-header-jt"></i></a>
			        <a href="" class="bold ml25" style="color:#144f97;">贵州银行存管专区</a>
				</div>
				<ul class="w-nav clearfix">
					<li class="selectd"><a href="login.html" title="" target="">首页</a></li>
					<li><a href="钱口贷简介.html" title="" target="">钱口贷简介</a></li>
					<li><a href="理财相关.html" title="" target="">理财相关</a></li>
					<li><a href="我要借款.html" title="" target="">我要借款</a></li>
					<li><a href="标的转让.html" title="" target="">标的转让</a></li>
					<li><a href="个人中心.html" title="" target="">个人中心</a></li>
					<li><a href="风控保障.html" title="" target="">风控保障</a></li>
					<li><a href="帮助中心.html" title="" target="">帮助中心</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- header end -->
	<div class="pt20 pb50 overflow">
		<div class="w-content overflow">
			<div class="w-zh-left">
				<h2 class="w-title2">我的钱口贷</h2>
				<ul class="w-submenu">
					<li><a href="#">我的主页</a></li>
					<li><a href="#">个人设置</a></li>
					<li><a href="#">邮箱设置</a></li>
					<li class="selectd"><a href="#">充值提现</a></li>
					<li><a href="#">我的红包</a></li>
					<li><a href="#">站内信</a></li>
					<li><a href="#">好友管理</a></li>
				</ul>
				<h2 class="w-title2">借款管理</h2>
				<ul class="w-submenu">
					<li><a href="#">已发布的借款</a></li>
					<li><a href="#">借款统计</a></li>
					<li><a href="#">还款管理</a></li>
				</ul>
				<h2 class="w-title2">理财管理</h2>
				<ul class="w-submenu">
					<li><a href="#">我关注的借款</a></li>
					<li><a href="#">我的投标</a></li>
					<li><a href="#">购买的小贷宝</a></li>
					<li><a href="#">自动投标</a></li>
					<li><a href="#">理财统计</a></li>
				</ul>
				<h2 class="w-title2">转让管理</h2>
				<ul class="w-submenu">
					<li><a href="#">个人转让</a></li>
					<li><a href="#">转让购买</a></li>
				</ul>
			</div>
			<div class="w-zh-right fff">
				<div class="w-zh border10-b">
					<div class="pt20 pb30 overflow border-b">
						<div class="fl">
							<span class="w-zh-touxiang fl">
								<img src="images/touxiang.png" alt="" title="" width="85" height="85">
								<input type="file">
							</span>
							<div class="fl ml30">
								<p class="mb15 c333">你好，CS01<span class="c999"><i class="ml20 mr10">|</i>注册时间：2017-08-16</span></p>
								<p class="mb15">信用额度：1000000000</p>
								<p class="mb15">个人统计：借款记录：<em class="color3">35</em><span class="ml15">投标记录：<em class="color3">7</em></span></p>
								<p style="border:1px solid;width:auto;display: inline-block;">初级出借人</p>
							</div>
						</div>
						<div class="fr tr">
							<p class="mb30">安心签ID：123456789</p>
							<p>
								<a class="w-zh-bnt1">安心签注册</a>
							</p>
						</div>
					</div>
					<div class="border-b clearfix pt30 pb30">
						<div class="w-title3 clearfix mb15">
							<span class="fl f18 bold"><i></i>账户贵州银行存管中</span>
							<a class="fr w-zh-bnt1">登录安心签</a>
						</div>
						<p class="mb15">您的汇付账户信息：6000060007514684</p>
						<p class="mb15">您的贵州银行存管账户信息：张富强  (0001290110026589701)</p>
						<p>
							<span class="fl color3 mt10">贵州银行存管账户操作</span>
							<span class="fr">
								<a class="w-zh-bnt2">登录贵州银行</a>
								<a class="w-zh-bnt2">查询余额</a>
								<a class="w-zh-bnt2">更新余额</a>
							</span>
						</p>
					</div>
					<ul class="w-zh-tiplist clearfix pt20 pb20 border-b">
						<li>未读站内信：<span class="color1">（199）</span></li>
						<li>等待审核借款：<span class="color1">（199）</span></li>
						<li>本月待还款：<span class="color1">（199）</span></li>
						<li>本月待收款：<span class="color1">（199）</span></li>
						<li>逾期待还款：<span class="color1">（199）</span></li>
						<li>上传资料：<span class="color1">（199）</span></li>
						<li>待授权借款：<span class="color1">（199）</span></li>
					</ul>
					<div class="clearfix pt30 pb40">
						<ul class="w-zh-link">
							<li>
								<a href="#">
									<img src="images/zh-ico1.png">
									<span>我要充值</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/zh-ico2.png">
									<span>我要理财</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/zh-ico3.png">
									<span>我要借款</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/zh-ico4.png">
									<span>债权转让</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/zh-ico5.png">
									<span>我要还款</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/zh-ico6.png">
									<span>待收款</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/zh-ico7.png">
									<span>历史明细</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/zh-ico8.png">
									<span>申请额度</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="w-zh clearfix">
					<div class="w-title3 clearfix pt30 mb30">
						<span class="f18 bold"><i></i>账户详情</span>
					</div>
					<div class="pb35">
						<table class="w-zh-table1">
				            <tbody>
					            <tr height="36">
				                    <th colspan="3">
				                    	<span class="fl">账户总汇：</span>
				                    	<span class="fr">（温馨提示：账户总额=可用余额+冻结金额+待收金额）</span>
				                    </th>
					            </tr>
					            <tr height="36">
				                    <td>账户总额：￥402591.83</td>
				                    <td>可用余额：￥381232.17</td>
				                    <td>冻结金额：￥14100.00</td>
					            </tr>
					            <tr height="36">
				                    <th colspan="3" align="left">
				                    	投资总汇：
				                    </th>
					            </tr>
					            <tr height="36">
				                    <td>已收总额：￥3380.72</td>
				                    <td>已收本金：￥3271.47</td>
				                    <td>已收利息：￥109.25</td>
					            </tr>
					            <tr height="36">
				                    <td>待收总额：￥7259.66</td>
				                    <td>待收本金：￥7128.53</td>
				                    <td>待收利息：￥131.13</td>
					            </tr>
					            <tr height="36">
				                    <th colspan="3" align="left">
				                    	借款总汇：
				                    </th>
					            </tr>
					            <tr height="36">
				                    <td>已还总额：￥592833.03</td>
				                    <td>已还本金：￥579317.57</td>
				                    <td>已还利息：￥13515.46</td>
					            </tr>
					            <tr height="36">
				                    <td>待还总额：￥73738.58</td>
				                    <td>待还本金：￥71571.71</td>
				                    <td>待还利息：￥2166.87</td>
					            </tr>
					            <tr height="36">
				                    <th colspan="3" align="left">
				                    	信用额度总汇：
				                    </th>
					            </tr>
					            <tr height="36">
				                    <td>信用借款总额度：￥100000010000.00</td>
				                    <td>信用可用额度：￥99999993000.00</td>
				                    <td>&nbsp;</td>
					            </tr>
					            <tr height="36">
				                    <th colspan="3" align="left">
				                    	最近待收还款：
				                    </th>
					            </tr>
					            <tr height="36">
				                    <td>最近待收还款日：2017-10-19</td>
				                    <td>最近待收还款金额：￥678.94</td>
				                    <td>&nbsp;</td>
					            </tr>
					            <tr height="36">
				                    <th colspan="3" align="left">
				                    	最近已收款：
				                    </th>
					            </tr>
					            <tr height="36">
				                    <td>最近收款时间：2017-08-25(提前还款)</td>
				                    <td>计划还款时间：2017-10-23</td>
				                    <td>收款金额:¥ 2060</td>
					            </tr>
				    		</tbody>
				    	</table>
			    	</div>
				</div>
			</div>
		</div>
	</div>

	<!-- right bar -->
	<ul class="w-rightbar">
		<li>
			<div class="w-rightbar-qq">
				<a href="#" class="cfff">
					<i class="icon w-rightbar-qqicon"></i>QQ客服
				</a>
			</div>
		</li>
		<li>
			<div class="w-rightbar-box w-rightbar-weixin">
				<a>
					<i class="icon w-rightbar-wxicon"></i>微信服务
				</a>
			</div>
			<div class="w-rightbar-leftbox">
				<i></i>
				<i></i>
				<img src="images/weixin.png" width="110" height="110" align="" />
			</div>
		</li>
		<li>
			<div class="w-rightbar-jsq">
				<a href="#">
					<i class="icon w-rightbar-jsqicon"></i>收益计算
				</a>
			</div>
		</li>
		<li>
			<div class="w-rightbar-box w-rightbar-weixin2">
				<a href="#">
					<i class="icon w-rightbar-wxicon2"></i>
					<span class="block">微信服务</span>
				</a>
			</div>
			<div class="w-rightbar-leftbox">
				<i></i>
				<i></i>
				<img src="images/weixin.png" width="110" height="110" align="" />
			</div>
		</li>
		<li>
			<div class="w-rightbar-kf">
				<a href="#">
					<i class="icon w-rightbar-qqicon2"></i>
					<span class="block">QQ客服</span>
				</a>
			</div>
		</li>
		<li class="goto-top">
			<a class="w-rightbar-top">
				<i class="icon w-rightbar-topicon"></i>
				TOP
			</a>
		</li>
	</ul>
	<!-- right bar end -->

	<!-- footer start -->
	<div class="w-footer">
		<div class="w-footer-content">
		  	<div class="w-footer-menu">
			    <dl>
				    <dt>新手入门</dt>
				    <dd><a href="#">免费注册</a></dd>
				    <dd><a href="">我的账户</a></dd>
				    <dd><a href="">关于我们</a></dd>
			    </dl>
			    <dl>
				    <dt>我要投资</dt>
				    <dd><a href="">浏览借款</a></dd>
			    </dl>
			    <dl>
				    <dt>我要贷款</dt>
				    <dd><a href="#">发布借款</a></dd>
				    <dd><a href="">利息计算器</a></dd>
			    </dl>
			    <dl>
				    <dt>安全保障</dt>
				    <dd><a href="#">本金保障</a></dd>
				    <dd><a href="">法律政策</a></dd>
			    </dl>
			    <dl>
				    <dt>帮助信息</dt>
				    <dd><a href="">帮助中心</a></dd>
				    <dd><a href="">联系我们</a></dd>
			    </dl>
		  	</div>
		  	<div class="w-footer-weixin">
			    <ul>
			      <li>
			          <img src="images/footer-weixin1.png">
			          <p>微信订阅号</p>
			      </li>
			      <li>
			          <img src="images/footer-weixin1.png">
			          <p>微信服务号</p>
			      </li>
			    </ul>
		  	</div>
		  	<div class="w-footer-tel">
		  		<p class="f30 w-footer-color1">1010-1217</p>
			    <p class="mb20">（服务时间：9:00-22:00）</p>
			    <a class="w-footer-kf">在线客服</a>
		  	</div>
		</div>
		<div class="w-footer-bottom tc">
			<p class="mb10">
				版权所有 2014贵州钱口贷互联网金融服务有限公司 www.qkdp2p.com
				<a href="#">【ICP备案号】 黔ICP备14003479号 【增值电信业务许可证】 黔B-20140043号</a>
			</p>
			<p>
				【钱口贷法务机构】北京市京师律师事务所【客服热线】（09：00-17：30）: 400-851-3000
			</p>
		    <div class="w-footer-img">
			    <a href="#">
			        <img src="images/f1.png" align="">
			    </a>
			    <a href="#">
			        <img src="images/f2.png" align="">
			    </a>
			    <a href="#">
			        <img src="images/f3.png" align="">
			    </a>
			    <a href="#">
			        <img src="images/f4.png" align="">
			    </a>
		    </div>
		</div>
	</div>
	<!-- footer end -->
</@defaultLayout.layout>