<#import "defaultLayout.html" as defaultLayout >
	<@defaultLayout.layout css=["https://unpkg.com/element-ui/lib/theme-chalk/index.css"] >
<div id="app">
	<el-container>
		<el-header>
			<i class="el-icon-edit"></i>
			<i class="el-icon-share"></i>
			<i class="el-icon-delete"></i>
			<el-button type="primary" icon="el-icon-search">搜索</el-button>
		</el-header>
		<el-main>
			<i class="el-icon-edit"></i>
			<i class="el-icon-share"></i>
			<i class="el-icon-delete"></i>
			<el-button type="primary" icon="el-icon-search">搜索</el-button>
		</el-main>
	</el-container>
</div>
</@defaultLayout.layout>