<el-form ref="form" :model="form" label-width="80px" style="width: 80%;margin: auto;">
    <el-form-item label="活动名称">
        <el-col :span="11">
            <el-input v-model="form.name"></el-input>
        </el-col>
    </el-form-item>
    <el-form-item label="活动经费">
        <el-col :span="11">
            <el-input-number v-model="form.amount"></el-input-number>&nbsp;&nbsp;元
        </el-col>
    </el-form-item>
    <el-form-item label="活动区域">
        <el-col :span="11">
            <el-input v-model="form.region"></el-input>
        </el-col>
    </el-form-item>
        <el-form-item label="缴费团">
            <el-select v-model="form.team" placeholder="请选择缴费团队" @visible-change="obtainTeam">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
    <el-form-item label="缴费成员">
        <el-tag  v-for="member in form.members">{{ member }}</el-tag>
        <el-popover
                placement="right"
                trigger="click"
                @show="selectMember">
            <el-transfer
                    filterable
                    :filter-method="filterMethod"
                    filter-placeholder="搜索用户"
                    :titles=['全部用户','已选用户']
                    v-model="form.members"
                    :data="membersData">
                <!--<el-button class="transfer-footer" slot="right-footer" size="small">确定</el-button>-->
            </el-transfer>
            <el-button slot="reference">选择</el-button>
        </el-popover>

    </el-form-item>
        <el-form-item label="活动时间">
            <el-col :span="11">
                <el-date-picker type="date" placeholder="选择日期" v-model="form.date" style="width: 100%;" value-format="yyyy-MM-dd"></el-date-picker>
            </el-col>
            <el-col class="line" :span="2">-</el-col>
            <el-col :span="11">
                <el-time-picker type="fixed-time" placeholder="选择时间" v-model="form.time" style="width: 100%;" value-format="HH:mm:ss"></el-time-picker>
            </el-col>
        </el-form-item>
        <el-form-item label="短信通知">
            <el-switch v-model="form.delivery"></el-switch>
        </el-form-item>
        <!--<el-form-item label="活动性质">
            <el-checkbox-group v-model="form.type">
                <el-checkbox label="1" name="type">美食/餐厅线上活动</el-checkbox>
                <el-checkbox label="2" name="type">地推活动</el-checkbox>
                <el-checkbox label="3" name="type">吃饭</el-checkbox>
                <el-checkbox label="4" name="type">玩游戏</el-checkbox>
            </el-checkbox-group>
        </el-form-item>-->
        <el-form-item label="活动性质">
            <el-radio-group v-model="form.type">
                <el-radio label="1">线上品牌商赞助</el-radio>
                <el-radio label="2">线下场地免费</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="备注">
            <el-input type="textarea" v-model="form.desc"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="createEvent">立即创建</el-button>
            <el-button>取消</el-button>
        </el-form-item>
</el-form>